<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for DispNet.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;E:\Visual Studio 2010\Projects\C#\DispNet\DispNet\DispNet.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1708" Action="None" />
  </Rules>
</RuleSet>